 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
}

.navbar {
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

section {
    padding-block: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: -1;
}

#home {
    background-image: url(../img/cover_1.jpg);
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-main {
    padding: 14px 22px;
    background: linear-gradient(to right, #00e0fe, #1107fe);
    border: none;
    border-radius: 100px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
    transform: translateY(-5px);
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}